#chart {
    position: fixed;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    padding: 0px;
    overflow-y: scroll;
    padding-bottom: 40px;
}
.info {
    bottom: 0;
    padding-left: 40px;
    padding-top: 40px;
    margin-right: 40px;
    max-width: 90%;
    text-wrap: wrap;
}
#balance {
    position: fixed;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}
.wrapper {
    padding: 10px;
}
#head {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
}
#stock {
    padding-top: 60px;
}
.stock_card {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px;
    margin: 10px;
}
@keyframes changecolor {
    0% {
        color: red;
    }
    16.66% {
        color: orange;
    }
    33.33% {
        color: yellow;
    }
    50% {
        color: rgb(130, 242, 130);
    }
    66.66% {
        color: rgb(140, 200, 237);
    }
    83.33% {
        color: rgb(197, 135, 224);
    }
    100% {
        color: red;
    }
}
/* .stock_card:hover {
    background: black;
    animation: changecolor 2s infinite;
} */
button {
    border-radius: 10px;
    border: black solid 1px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
button:hover {
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    /* animation: changecolor 2s infinite; */
}
#screen {
    display: none;
}
#popup {
    padding: 30px;
    background: white;
    color: black;
}
.show {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}